html, body {
    height:100%;
    margin: 0;
}
.controls-parent, .controls {
    position: relative;
    height: 100%;
}
.texts-parent {
    margin: 20px 1%;
    border: solid 1px;
    text-align: center;
}
.surface-parent {
    width: 100%;
    overflow: auto;
    text-align: center;
}


.texts-parent>fieldset {
    border: none;
}
.texts-parent>hr {
    margin: 0;
}

.texts-parent>fieldset * {
    font-size: 1.2rem;
    font-family: monospace;
}
.texts-parent>fieldset>* {
    display: inline-block;
}

.texts-parent>fieldset>.prefix {
    width: 10rem;
    text-align: right;
}
.texts-parent>fieldset>.infix {
    width: 2rem;
    text-align: center;
}
.texts-parent>fieldset>.suffix {
    width: 1rem;
    text-align: left;
}

.texts-parent>fieldset>.pattern {
    width: 70%;
}
.texts-parent>fieldset>.flags {
    width: 3rem;
}

.texts-parent>fieldset>input.error {
    background-color: #F0A9A1;
}

@media (max-width: 768px) {
    .texts-parent>fieldset>:not(input) {
        display: none;
    }
}


svg .clickable {
    cursor: pointer;
}
