html, body {
    height:100%;
    margin: 0;
}
.controls-parent, .controls {
    position: relative;
    height: 100%;
}
.texts-parent {
    margin: 20px 30px;
    border: solid 1px;
    text-align: center;
}
.surface-parent {
    width: 100%;
    overflow: auto;
    text-align: center;
}


.texts-parent>fieldset {
    border: none;
}
.texts-parent>fieldset>legend {
    display: none;
}
.texts-parent>fieldset :not(legend) {
    font-size: 1.2em;
    font-family: monospace;
}
.texts-parent>fieldset .prefix {
    display: inline-block;
    width: 8em;
    text-align: right;
}
.texts-parent>fieldset .infix {
    display: inline-block;
    width: 2em;
    text-align: center;
}
.texts-parent>fieldset .suffix {
    display: inline-block;
    width: 1em;
}

.texts-parent .pattern {
    width: 60%;
}
.texts-parent .flags {
    width: 3em;
}

svg .clickable {
    cursor: pointer;
}
