html, body {
    height:100%;
    margin: 0;
}
.react-parent, .controls-parent {
    position: relative;
    height: 100%;
}

/* under controls-parent */

.visuals-parent {
    position: relative;
}
.texts-parent {
    margin: 20px 1%;
    border: solid 1px;
    text-align: center;
}
.surface-parent {
    width: 100%;
    overflow: auto;
    text-align: center;
}

/* under texts-parent */

.texts-parent>fieldset {
    border: none;
}
.texts-parent>hr {
    margin: 0;
}

.texts-parent>fieldset * {
    font-size: 1.2rem;
    font-family: monospace;
}
.texts-parent>fieldset>* {
    display: inline-block;
}

.texts-parent>fieldset>.prefix {
    width: 10rem;
    text-align: right;
}
.texts-parent>fieldset>.infix {
    width: 2rem;
    text-align: center;
}
.texts-parent>fieldset>.suffix {
    width: 1rem;
    text-align: left;
}

.texts-parent>fieldset>.pattern {
    width: 70%;
}
.texts-parent>fieldset>.flags {
    width: 3rem;
}

.texts-parent>fieldset>input.error {
    background-color: #F0A9A1;
}

@media (max-width: 768px) {
    .texts-parent>fieldset>:not(input) {
        display: none;
    }
}

/* under surface-parent */

svg[data-mode="select"] .clickable {
    cursor: pointer;
}
svg[data-mode="delete"] .clickable {
    cursor: crosshair;
}

/* under editors */

.flags-editor, .pattern-editor-mode-picker {
    position: absolute;
    top: 0;
    padding: 0;
    background-color: rgba(255,255,242,.85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}
.flags-editor>*, .pattern-editor-mode-picker>* {
    display: block;
    margin: 8px;
}

.flags-editor {
    right: 0;
    margin-right: 20px;
}

.pattern-editor-mode-picker {
    left: 0;
    margin-left: 20px;
}
