html, body {
    height:100%;
    margin: 0;
}
.react-parent, .controls-parent {
    position: relative;
    height: 100%;
}

/* under controls-parent */

.texts-parent {
    margin: 1rem 1%;
    border: solid 1px;
    text-align: center;
}
.visuals-parent {
    position: relative;
    min-height: 6rem; /* enough to cover pattern-editor-mode-picker and flags-editor */
}

/* under texts-parent */

.texts-parent>fieldset {
    border: none;
}
.texts-parent>hr {
    margin: 0;
}

.texts-parent>fieldset * {
    font-size: 1.2rem;
    font-family: monospace;
}
.texts-parent>fieldset>* {
    display: inline-block;
}

.texts-parent>fieldset>.prefix {
    width: 10rem;
    text-align: right;
}
.texts-parent>fieldset>.infix {
    width: 2rem;
    text-align: center;
}
.texts-parent>fieldset>.suffix {
    width: 1rem;
    text-align: left;
}

.texts-parent>fieldset>.pattern {
    width: 70%;
}
.texts-parent>fieldset>.flags {
    width: 3rem;
}

.texts-parent>fieldset>input.error {
    background-color: #F0A9A1;
}

@media (max-width: 768px) {
    .texts-parent>fieldset>:not(input) {
        display: none;
    }
}

/* under visuals-parent */

.visuals-parent>.surface-parent {
    width: 100%;
    overflow: auto;
    text-align: center;
}

.flags-editor, .pattern-editor-mode-picker {
    position: absolute;
    top: 0;
    padding: 0;
    background-color: rgba(255,255,242,.85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}
.flags-editor>*, .pattern-editor-mode-picker>* {
    display: block;
    margin: .4rem;
}

.flags-editor {
    right: 0;
    margin-right: 1.25rem;
}

.pattern-editor-mode-picker {
    left: 0;
    margin-left: 1.25rem;
}

/* under pattern-editor-parent */

.pattern-editor {
    display: flex;
    flex-direction: column;
}

.create-parent {
    display: flex;
    justify-content: center;
}
.create-parent>* {
    margin: .6rem;
}

.create-type>* {
    display: block;
}

.create-form {
    display: flex;
}
.create-form>* {
    margin: 0 .6rem;
}
.create-form-inputs {
    position: relative;
    min-width: 10rem;
    border: dotted 1px;
}
.create-form-inputs>[type="submit"] {
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.create-form-inputs>* {
    display: block;
}
.create-form-inputs>label>* {
    display: block;
}
.create-form-inputs input.error {
    background-color: red;
}
.create-form-preview>p {
    margin: 0;
}
.create-form-preview>.surface-parent {
    min-width: 8rem;
    max-height: 14rem;
    overflow-y: auto;
    border: dotted 1px;
}

.palette {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}
.palette>* {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    min-width: 6rem;
    margin: 2px;
    border: solid 1px;
    overflow: auto;
}

/* svg common */

svg .selectable {
    cursor: pointer;

    /* enable hover on some elms that have to have fill="none",
        like `rect`s in neighborArrows */
    pointer-events: all;
}
svg .selectable:hover {
    fill: #eee;
}
svg text, svg path {
    pointer-events: none; /* prevent flicker on hover. */
}
svg[data-mode="add"] .selectable {
    cursor: crosshair;
}
svg[data-mode="delete"] .selectable {
    cursor: cell;
}
